@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Resource Aggregator</h2>
<p>This is the home page of the Resource Aggregator application.</p>
<p>You can start exploring and managing resources using the navigation links.</p>
